<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTML & CSS Course - Lesson Template</title>
    <link rel="stylesheet" href="lesson-template.css" />
  </head>
  <body>
    <h1>Lesson Template - Exercises</h1>
    <a href="../../index.html"><button>Go back to Home</button></a>

    <br />
    <br />

    <h2>Exercise 1</h2>
    <button class="example-button">Example Button</button>

    <hr />
    <br />

    <h2>Exercise 2</h2>
    <button class="example-button">Another Button</button>
  </body>
</html>
