/* #region: Exercise 0a */
.ex0a-text {
  font-family: Arial;
  font-size: 18px;
  color: white;
}

.ex0a-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.ex0a-button:hover {
  background-color: darkgreen;
}
/* #endregion: Exercise 0a */
