<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTML & CSS Course - Lesson X</title>
    <link rel="stylesheet" href="lesson-template.css" />
  </head>
  <body>
    <h1>Lesson X - Exercises</h1>
    <a href="../../index.html"><button>Go back to Home</button></a>

    <br />
    <br />

    <h2>Exercise 0a</h2>
    <p class="ex0a-text">Example Text</p>
    <button class="ex0a-button">Example Button</button>

    <hr />
    <br />

    <h2>Exercise 0b</h2>
    <p class="ex0b-text">Example Text</p>
    <button class="ex0b-button">Example Button</button>
  </body>
</html>
