/* #region: Global Styles */
p,
button,
ul,
li {
  font-family: Arial;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* #endregion: Global Styles */

/* #region: Exercise 12a */
.ex12a__list {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.ex12a__item {
  color: #000000;
}

.ex12a__item--wide {
  width: 200px;
  background-color: #add8e6;
}

.ex12a__item--narrow {
  width: 75px;
  background-color: #ffb6c1;
}
/* #endregion: Exercise 12a */

/* #region: Exercise 12b */
.ex12b__list {
  display: flex;
  flex-direction: row;
}

.ex12b__item {
  color: #000000;
}

.ex12b__item--small {
  width: 50px;
  background-color: #add8e6;
}

.ex12b__item--grow {
  flex: 1;
  background-color: #ffb6c1;
}

.ex12b__item--medium {
  width: 75px;
  background-color: #add8e6;
}
/* #endregion: Exercise 12a */

/* #region: Exercise 12c */
.ex12c__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ex12c__item {
  background-color: #ffb6c1;
  color: #000000;
}
/* #endregion: Exercise 12c */

/* #region: Exercise 12d */
.ex12d__list {
  height: 50px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ex12d__item {
  background-color: #ffb6c1;
  color: #000000;
}
/* #endregion: Exercise 12d */

/* #region: Exercise 12e */
.ex12e__list {
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid #80808090;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  gap: 0.1rem;
}

.ex12e__item {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ex12e__label {
  color: #000000;
}

.ex12e__badge {
  padding: 0.3rem 0.75rem;
  background-color: #416ceb;
  color: #ffffff;
  font-weight: 700;
  border-radius: 40px;
}
/* #endregion: Exercise 12e */

/* #region: Exercise 12f */
.ex12f {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  padding: 0.65rem 1rem;
  background-color: #7153ab;
}

.ex12f__link {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.ex12f__search-form {
}

.ex12f__search-input {
  width: 20rem;
  height: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 40px;
  border: none;
  color: #000000;
}

.ex12f__download-button {
  color: #ffffff;
  background-color: #7153ab;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.ex12f__download-button:hover {
  color: #7153ab;
  background-color: #ffffff;
}
/* #endregion: Exercise 12f */

/* #region: Exercise 12g */
.ex12g__profiles-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ex12g__profile {
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ex12g__profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.ex12g__profile-text-info {
  height: 4rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.ex12g__profile-title {
  padding: 0;
  margin: 0;
}

.ex12g__profile-description {
  font-size: 0.95rem;
  color: #808080;
}

.ex12g__profile-status {
  color: #808080;
}

.ex12g__follow-button {
  background-color: #4093ef;
  color: #ffffff;
  font-weight: 700;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* pushes the button to the far right in the flex row */
}
.ex12g__follow-button:hover {
  box-shadow: 2px 2px 10px #00000085;
}
/* #endregion: Exercise 12g */
