/* #region Exercise 2a */
.ex2a-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
/* #endregion Exercise 2a */

/* #region Exercise 2b */
.ex2b-button {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 40px;
}
/* #endregion Exercise 2b */

/* #region Exercise 2c */
.ex2c-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
/* #endregion Exercise 2c */

/* #region Exercise 2d */
.ex2d-button-get-started {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.ex2d-button-download {
  background-color: white;
  color: rgb(109, 117, 125);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(109, 117, 125);
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
}
/* #endregion Exercise 2d */

/* #region Exercise 2e */
.ex2e-button-apply {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 40px;
  font-weight: bold;
}

.ex2e-button-save {
  background-color: white;
  color: rgb(10, 102, 194);
  border-radius: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  cursor: pointer;
  padding: 10px 14px;
  font-weight: bold;
}
/* #endregion Exercise 2e */

/* #region Exercise 2f */
.ex2f-back-to-amazon {
  color: rgb(0, 113, 133);
  text-decoration: underline;
  cursor: pointer;
}

.ex2f-product-name {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.ex2f-price {
  color: rgb(0, 118, 0);
  font-size: 16px;
}

.ex2f-delivery {
  color: black;
  font-size: 14px;
}

.ex2f-button-add-to-cart {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 40px;
}

.ex2f-button-buy-now {
  background-color: rgb(255, 164, 28);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 40px;
}
/* #endregion Exercise 2f */
